<ion-header>
  <ion-navbar>
    <ion-title>
      Ionic Blank
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>

  <h1>Choose an option</h1>

  <button ion-button full color="primary">Create Item</button>
  <button ion-button full color="secondary" (click)="listClicked">View List</button>

  <!--<ion-list *ngFor="let speaker of speakers | async">-->
    <!--<ion-list-header>-->
      <!--{{speaker.listHeader}}-->
    <!--</ion-list-header>-->
    <!--<button ion-item *ngFor="let speakerItem of speaker.speakerInfo" (click)="itemClicked(speakerItem)">-->
      <!--{{speakerItem.name}}-->
    <!--</button>-->
  <!--</ion-list>-->

</ion-content>
